@import "tailwindcss";

@layer base {
  body {
    @apply text-white;
  }
  h1 {
    @apply text-4xl font-bold;
  }

  h4 {
    @apply text-xl font-bold;
  }
}

@layer utilities {
  .container {
    width: 80%;
    max-width: 1200%;
    margin: 0 auto;
  }
}
