@import "tailwindcss";

@layer base {
  body {
    @apply text-white text-base;
  }
  h1 {
    @apply text-4xl font-bold;
  }

  h4 {
    @apply text-xl font-bold;
  }
}

@layer components {
  .card {
    @apply flex gap-4 border-2 border-white rounded-tl-2xl rounded-br-2xl;
  }

  .card__img {
    @apply w-1/3;
  }

  .card__text {
    @apply w-2/3;
  }

  .card__text > * {
    @apply m-2;
  }

  .card__text span {
    @apply font-bold;
  }
}

@layer utilities {
  .container {
    width: 80%;
    max-width: 1200%;
    margin: 0 auto;
  }
}
